body {
  font-family: "custom";
  background-color: #000;
  color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.5em;
  text-align: center;
  color: yellowgreen;
}

@font-face {
  font-family: "custom";
  src: url("custom.ttf") format("truetype");
}

.large.green {
  /* padding: 10px; */
  font-family: "custom";
  font-size: 1rem;
  color: yellowgreen;
}

h1.large.green {
  font-size: 4em;
  text-align: center;
  color: yellowgreen;
}

.input-margin {
  margin-top: -10px;
}
